* {
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 2rem;
  box-sizing: border-box; }

/*=========================
Helpers
===========================*/
.center-text {
  text-align: center;
  margin-bottom: 8rem; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem; }

.large-margin-top {
  margin-top: 10rem; }

.large-margin-bottom {
  margin-bottom: 8rem; }

.btn-green:link,
.btn-green:visited {
  text-transform: uppercase;
  text-decoration: none;
  background-color: #55c57a;
  color: #fff;
  padding: 1.5rem 4rem;
  display: inline-block;
  transition: all 0.2s;
  border-radius: 10rem;
  animation: moveInBottom 2s ease-out;
  font-size: 1.6rem; }

.btn-green:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }

.btn-green:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); }

/*=========================
Navigation
===========================*/
.navigation_checkbox {
  display: none; }

.navigation_button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
  text-align: center;
  cursor: pointer; }

.navigation_background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation_nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation_list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation_item {
  margin: 5rem 0; }

.navigation_link:link, .navigation_link:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 230%;
  transition: all .4s; }

.navigation_link:hover, .navigation_link:active {
  background-position: 100%;
  color: #000;
  transform: translateX(1rem); }

.navigation_checkbox:checked ~ .navigation_background {
  transform: scale(80); }

.navigation_checkbox:checked ~ .navigation_nav {
  opacity: 1;
  width: 100%; }

.navigation_icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation_icon, .navigation_icon::before, .navigation_icon::after {
    width: 3rem;
    height: 2px;
    background-color: #777;
    display: inline-block; }
  .navigation_icon::before, .navigation_icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation_icon::before {
    top: -.8rem; }
  .navigation_icon::after {
    top: .8rem; }

.navigation_button:hover {
  color: #55c57a; }

.navigation_button:hover .navigation_icon::before {
  top: -1rem; }

.navigation_button:hover .navigation_icon::after {
  top: 1rem; }

.navigation_checkbox:checked + .navigation_button .navigation_icon {
  background-color: transparent; }

.navigation_checkbox:checked + .navigation_button .navigation_icon::before {
  top: 0;
  transform: rotate(45deg); }

.navigation_checkbox:checked + .navigation_button .navigation_icon::after {
  top: 0;
  transform: rotate(-45deg); }

/*=========================
Header
===========================*/
.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.7), rgba(40, 180, 133, 0.7)), url("../img/hero2.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); }
  .header .header-text-box {
    backface-visibility: hidden;
    text-align: center; }
    .header .header-text-box .logo {
      height: 15rem; }
    .header .header-text-box .heading-primary {
      color: #fff;
      text-transform: uppercase;
      margin-bottom: 10%; }
      .header .header-text-box .heading-primary .main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 1rem;
        padding-bottom: 1.5rem;
        animation: moveInLeft 2s ease-out; }
      .header .header-text-box .heading-primary span {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation: moveInRight 2s ease-out; }

.btn-white:link,
.btn-white:visited {
  text-transform: uppercase;
  text-decoration: none;
  background-color: #fff;
  color: #777;
  padding: 1.5rem 4rem;
  display: inline-block;
  transition: all 0.2s;
  border-radius: 10rem;
  animation: moveInBottom 2s ease-out;
  font-size: 1.6rem; }

.btn-white:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }

.btn-white:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); }

/*=========================
About
===========================*/
.about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -10vh; }
  .about .center-text {
    text-align: center;
    margin-bottom: 8rem; }
  .about .heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    display: inline;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    letter-spacing: 0.2rem; }
  .about .heading-tertiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase; }
  .about .para {
    font-size: 1.6rem; }
    .about .para:not(:last-child) {
      margin-bottom: 3rem; }
  .about .btn-text:link, .about .btn-text:visited {
    font-size: 1.6em;
    color: #55c57a;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #55c57a;
    padding: 3px;
    transition: all 0.2s; }
  .about .btn-text:hover {
    background-color: #55c57a;
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-2px); }
  .about .btn-text:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(0); }
  .about .compostion {
    position: relative; }
    .about .compostion:hover .comp-photo:not(:hover) {
      transform: scale(0.9); }
    .about .compostion .comp-photo {
      width: 55%;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
      border-radius: 2px;
      position: absolute;
      z-index: 10;
      transition: all 0.3s; }
      .about .compostion .comp-photo:hover {
        transform: scale(1.05);
        z-index: 20; }
    .about .compostion .slide1 {
      left: 10rem;
      top: -2rem; }
    .about .compostion .slide2 {
      right: -8rem;
      top: 2rem; }
    .about .compostion .slide3 {
      left: 33%;
      top: 10rem; }

/*=========================
Tours
===========================*/
.tours {
  background-color: #f1f1f1;
  padding: 25rem 0 15rem 0;
  margin-top: -15vh;
  clip-path: polygon(0 0, 100% 8%, 100% 100%, 0% 100%); }

.cards {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;
  background-color: none !important; }
  .cards_side {
    position: absolute;
    top: 0;
    left: 0;
    transition: all .8s ease;
    width: 100%;
    height: 52rem;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .cards_side-front {
      background-color: #fff; }
    .cards_side-back {
      transform: rotateY(180deg); }
      .cards_side-back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .cards_side-back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .cards_side-back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .cards:hover .cards_side-front {
    transform: rotateY(-180deg); }
  .cards:hover .cards_side-back {
    transform: rotateY(0); }
  .cards_pic {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .cards_pic-1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg); }
    .cards_pic-2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg); }
    .cards_pic-3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg); }
  .cards_heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    text-align: right;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 60%; }
  .cards_heading-span {
    padding: 1rem 1.5rem;
    box-decoration-break: clone; }
    .cards_heading-span-1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .cards_heading-span-2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .cards_heading-span-3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .cards_details {
    padding: 3rem; }
    .cards_details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .cards_details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .cards_details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .cards_cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .cards_price-box {
    text-align: center;
    margin-bottom: 8rem;
    color: #fff; }
  .cards_price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .cards_price-value {
    font-size: 6rem;
    font-weight: 100; }

/*=========================
Footer
===========================*/
.footer {
  background-color: #333;
  padding: 1rem 0 5rem 0;
  font-size: 1.4rem;
  color: #f7f7f7; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 1rem; }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer_link:link, .footer_link:visited {
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block; }
  .footer_link:hover, .footer_link:active {
    color: #55c57a;
    border-bottom: 1px solid #55c57a;
    background-color: #333; }
  .footer__copyright {
    border-top: 1px solid #777;
    padding-top: 2rem;
    width: 80%;
    float: right;
    text-align: center; }

/*=========================
Discaimer
===========================*/
.disclaimer-text {
  font-size: 2rem; }
  .disclaimer-text li {
    padding-bottom: 2rem; }

/*=========================
About Us
===========================*/
.about-us {
  position: relative;
  padding: 10rem 0 8rem 0;
  margin: 5rem 0; }
  .about-us .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .15;
    overflow: hidden; }
    .about-us .bg-video__content {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  .about-us .center-text {
    text-align: center;
    margin-bottom: 8rem; }
  .about-us .heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    display: inline;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    letter-spacing: 0.2rem; }
  .about-us .heading-tertiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase; }
  .about-us .para {
    font-size: 1.6rem; }
    .about-us .para:not(:last-child) {
      margin-bottom: 3rem; }
  .about-us .compostion {
    position: relative; }
    .about-us .compostion .comp-photo {
      width: 90%;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
      border-radius: 2px;
      transition: all 0.3s; }
      .about-us .compostion .comp-photo:hover {
        transform: scale(1.05);
        z-index: 20; }

/*Animations*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
