//Variables 
@import "variables";

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 2rem;
    box-sizing: border-box;
}

/*=========================
Helpers
===========================*/
.center-text {
    text-align: center;
    margin-bottom: 8rem;
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    display: inline;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    letter-spacing: 0.2rem;
}
.large-margin-top{
    margin-top: 10rem;
}

.large-margin-bottom{
    margin-bottom:8rem;
}

.btn-green:link,
.btn-green:visited {
    text-transform: uppercase;
    text-decoration: none;
    background-color: $color-primary;
    color: $color-white;
    padding: 1.5rem 4rem;
    display: inline-block;
    transition: all 0.2s;
    border-radius: 10rem;
    animation: moveInBottom 2s ease-out;
    font-size: 1.6rem;
}
.btn-green:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black,0.3);
}
.btn-green:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black,0.3);
}

.btn-white:link,
.btn-white:visited {
    text-transform: uppercase;
    text-decoration: none;
    background-color: $color-white;
    color: $color-grey-dark;
    padding: 1.5rem 4rem;
    display: inline-block;
    transition: all 0.2s;
    border-radius: 10rem;
    animation: moveInBottom 2s ease-out;
    font-size: 1.6rem;
}
.btn-white:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black,0.3);
}
.btn-white:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black,0.3);
}

/*=========================
Navigation
===========================*/
.navigation{
    &_checkbox{
        display: none;
    }

    &_button{
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem; 
        border-radius: 50%;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba($color-black, .15);
        text-align: center;
        cursor: pointer;
    }

    &_background{
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: linear-gradient(to bottom,$color-primary, $color-primary-light);
        z-index: 1000;
        transition: transform .8s cubic-bezier(0.86 ,0, 0.07, 1);

        //transform: scale(80);
    }

    &_nav{
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1500;
        opacity: 0;
        width: 0;
        transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &_list{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        width: 100%;
    }

    &_item{
        margin: 5rem 0;
    }

    &_link{
        &:link,
        &:visited{
        display: inline-block;
        font-size: 2rem;
        font-weight: bold;
        padding: 1rem 2rem;
        color: $color-white;
        text-decoration: none;
        text-transform: uppercase;
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
        background-size: 230%;
        transition: all .4s;
        }

        &:hover,
        &:active{
            background-position: 100%;
            color: $color-black;
            transform: translateX(1rem);
        }
    }

    &_checkbox:checked ~ &_background{
        transform: scale(80);
    }

    &_checkbox:checked ~ &_nav{
        opacity: 1;
        width: 100%;
    }

    //Menu
    &_icon{
        position: relative;
        margin-top: 3.5rem; 

        &,
        &::before,
        &::after{
            width: 3rem;
            height: 2px;
            background-color: $color-grey-dark;
            display: inline-block;
        }
        &::before,
        &::after{
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
            
        }

        &::before{ top: -.8rem;}
        &::after{ top: .8rem;}
    }

    &_button:hover{
        color: $color-primary;
    }

    &_button:hover &_icon::before{
        top: -1rem;
    }
    &_button:hover &_icon::after{
        top: 1rem;
    }

    &_checkbox:checked + &_button &_icon{
        background-color: transparent;
    }
    &_checkbox:checked + &_button &_icon::before{
        top: 0;
        transform: rotate(45deg);
    }

    &_checkbox:checked + &_button &_icon::after{
        top:0;
        transform: rotate(-45deg); 
    }
  
}

/*=========================
Header
===========================*/
.header {
    position: relative;
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba($summer-green, 0.7), rgba($summer-orange, 0.7)), url("../img/hero2.jpg");
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    

    // .logo-box{
    //     position: absolute;
    //     top: 2rem;
    //     left: 4rem; 
       

    // }
    .header-text-box {
        backface-visibility: hidden;
        text-align: center;
        .logo {
            height: 25rem;
            animation: moveInRight 2s ease-out;
        }

        .heading-primary {
            color: $color-white;
            text-transform: uppercase;
            margin-bottom: 10%;

            .main {
                display: block;
                font-size: 6rem;
                font-weight: 400;
                letter-spacing: 1rem;
                padding-bottom: 1.5rem;
                animation: moveInLeft 2s ease-out;
            }
            span {
                display: block;
                font-size: 2rem;
                font-weight: 700;
                letter-spacing: 1.75rem;
                animation: moveInRight 2s ease-out;

            }
        }
    }
}




/*=========================
About
===========================*/
.about {
    background-color: $color-gray-light1;
    padding: 25rem 0;
    margin-top: -10vh;

    .center-text {
        text-align: center;
        margin-bottom: 8rem;
    }

    .heading-secondary {
        font-size: 3.5rem;
        text-transform: uppercase;
        font-weight: 700;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        display: inline;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        color: transparent;
        letter-spacing: 0.2rem;

    }

    .heading-tertiary {
        font-size: 1.6rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    .para {
        font-size: 1.6rem;

        &:not(:last-child) {
            margin-bottom: 3rem;
        }
    }
    .btn-text {
        &:link,
        &:visited {
            font-size: 1.6em;
            color: $color-primary;
            display: inline-block;
            text-decoration: none;
            border-bottom: 1px solid $color-primary;
            padding: 3px;
            transition: all 0.2s;
        }

        &:hover {
            background-color: $color-primary;
            color: $color-white;
            box-shadow: 0 1rem 2rem rgba($color-black,0.15);
            transform: translateY(-2px);
        }
        &:active {
            box-shadow: 0 0.5rem 1rem rgba($color-black,0.15);
            transform: translateY(0);
        }
    }

    .compostion {
        position: relative;
        
       

        &:hover .comp-photo:not(:hover) {
            transform: scale(.9);
        }
        .comp-photo {
            width: 55%;
            box-shadow: 0 1.5rem 4rem rgba($color-black,0.4);
            border-radius: 2px;
            position: absolute;
            z-index: 10;
            transition: all 0.3s;
            

            &:hover {
                transform: scale(1.05);
                z-index: 20;
            }
        }
        .slide1 {
            left: 10rem;
            top: -2rem;
        }

        .slide2 {
            right: -8rem;
            top: 2rem;
        }

        .slide3 {
            left: 33%;
            top: 10rem;
        }

    }
}

/*=========================
Tours
===========================*/
.tours {
    
    background-color: $color-gray-light2;
    padding: 25rem 0 15rem 0;
    margin-top: -15vh;
    clip-path: polygon(0 0, 100% 8%, 100% 100%, 0% 100%);

}

.cards {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem;
    background-color: none !important;
    

    &_side {
        position: absolute;
        top: 0;
        left: 0;
        transition: all .8s ease;
        width: 100%;
        height: 52rem;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &-front {
            background-color: $color-white;
        }

        &-back {
            transform: rotateY(180deg);

            &-1{
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }

            &-2{
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }

            &-3{
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }
        }
    }

    &:hover &_side-front {
        transform: rotateY(-180deg);
    }

    &:hover &_side-back {
        transform: rotateY(0);
    }

    //Front side styling
    &_pic{
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        &-1{
            background-image: linear-gradient(to right bottom, lighten($color-secondary-light, 20%), lighten($color-secondary-dark, 20%)), url(../img/nature3.jpg);

        }

        &-2{
            background-image:  linear-gradient(to right bottom, darken($color-primary-light, 20%), darken($color-primary-dark,20%)), url(../img/nature1.jpg);
        }

        &-3{
            background-image:  linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url(../img/nature2.jpg);
        }
    }

    &_heading{
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        color: $color-white;
        text-align: right;
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 60%;
    }

    &_heading-span{
        padding: 1rem 1.5rem;
        box-decoration-break: clone;
        &-1{
            background-image:  linear-gradient(to right bottom, rgba($color-secondary-light, .85), rgba($color-secondary-dark, .85));
        }
        &-2{
            background-image:  linear-gradient(to right bottom, rgba($color-primary-light, .85), rgba($color-primary-dark, .85));
        }
        &-3{
            background-image:  linear-gradient(to right bottom, rgba($color-tertiary-light, .85), rgba($color-tertiary-dark, .85));
        }

    }

    &_details{
        padding: 3rem;
        ul{
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li{
                text-align:center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child){
                    border-bottom: 1px solid #eee;
                }
            }
        }

    }

    &_cta{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    &_price-box{
        text-align: center;
        margin-bottom: 8rem;
        color: $color-white;
    }

    &_price-only{
        font-size: 1.4rem;
        text-transform: uppercase;
        
    }

    &_price-value{
        font-size: 6rem;
        font-weight: 100;
    }

}

/*=========================
Footer
===========================*/
.footer{
    background-color: $footer-background;
    padding: 1rem 0 5rem 0;
    font-size: 1.4rem;
    color: $color-gray-light1;

    &__logo-box{
        text-align: center;
        margin-bottom: 1rem;
    }
    &__logo{
        width: 15rem;
        height:auto;
    }

    &__navigation{
        border-top: 1px solid $color-grey-dark;
        padding-top: 2rem;
        display: inline-block;
    }

    &__list{
        list-style: none;
    }

    &__item{
        display: inline-block;

        &:not(:last-child){
            margin-right: 1.5rem;
        }
    }

    &_link{
        &:link,
        &:visited{
            color: $color-gray-light1;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block; 
        }

        &:hover,
        &:active{
            color: $color-primary;
            border-bottom: 1px solid $color-primary;
            background-color: $footer-background;
        }

    }

    &__copyright{
        border-top: 1px solid $color-grey-dark;
        padding-top: 2rem;
        width: 80%;
        float: right;
        text-align: center;
    }
}

/*=========================
Discaimer
===========================*/
.disclaimer-text{
    font-size: 2rem;
    li{
        padding-bottom: 2rem;
    }
}

/*=========================
About Us
===========================*/
.about-us {
    position: relative;
    padding: 10rem 0 8rem 0;
    margin: 5rem 0;
    

    .bg-video{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        opacity: .15;
        overflow: hidden;

        &__content{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }


    .center-text {
        text-align: center;
        margin-bottom: 8rem;
    }

    .heading-secondary {
        font-size: 3.5rem;
        text-transform: uppercase;
        font-weight: 700;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        display: inline;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        color: transparent;
        letter-spacing: 0.2rem;

    }

    .heading-tertiary {
        font-size: 1.6rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    .para {
        font-size: 1.6rem;

        &:not(:last-child) {
            margin-bottom: 3rem;
        }
    }

    .compostion {
        position: relative;
        
        .comp-photo {
            width: 90%;
            box-shadow: 0 1.5rem 4rem rgba($color-black,0.4);
            border-radius: 2px;
            transition: all 0.3s;

            &:hover {
                transform: scale(1.05);
                z-index: 20;
            }
        }
    }
}

.login-block{
    background: -webkit-linear-gradient(to bottom, $summer-orange, $summer-green);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, $summer-orange, $summer-green); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    float:left;
    width:100%;
    padding : 5rem 0;
    margin-bottom: 2rem;

    .banner-sec{
       background:url(https://static.pexels.com/photos/33972/pexels-photo.jpg)  no-repeat left bottom; 
       background-size:cover; 
       min-height:500px; 
       border-radius: 0 10px 10px 0; 
       padding:0;


        .carousel-inner{
            border-radius: 10px;
        }
    
        .carousel-inner{
            border-radius: 10px;
        }
    
        .carousel-caption{
            text-align:left; 
            left:5%;
        }
    }

    h2{
        margin-bottom:30px; 
        font-weight:800; 
        font-size:30px; 
        color: $color-white;

        &:after{
            content:" "; 
            width:100px; 
            height:5px; 
            background:$color-white;
            display:block; 
            margin-top:20px; 
            border-radius:3px; 
            margin-left:auto;
            margin-right:auto;
        }
    }

    .login-sec{
        padding: 50px 30px; 
        position:relative;

        .copy-text{
            position:absolute;
            width:80%;
            bottom:20px;
            font-size:13px; 
            text-align:center;

            i{
                color:#FEB58A;
            }

            a{
                color:#E36262;
            }
        }

        label{
            font-size: 2rem;
            color: $color-white;
        }

        input{
            height: 4rem;
            font-size: 2.5rem;
        }

        .btn-login{
                text-transform: uppercase;
                text-decoration: none;
                background-color: $color-primary-light;
                color: $color-white;
                padding: 1.5rem 4rem;
                display: inline-block;
                transition: all 0.2s;
                border-radius: 3rem;
                animation: moveInBottom 2s ease-out;
                font-size: 1.6rem;
            
            &:hover {
                transform: translateY(-3px);
                box-shadow: 0 1rem 2rem rgba($color-black,0.3);
            }
            
            &:active {
                transform: translateY(-1px);
                box-shadow: 0 0.5rem 1rem rgba($color-black,0.3);
            }


        }


       
    }

   

    .banner-text{
        width:70%; 
        position:absolute; 
        bottom:40px; 
        padding-left:20px;
    }
   

    
}





/*Animations*/
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
